.tableMain {
    /* border: 2px solid red; */
    margin-top: 20px;
}

.btnGroup {
    display: flex;
    max-width: 950px;
    height: 38px;
    margin: 28px auto;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

.subjectList {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 8px;
}

.twoButtons {
    display: flex;
    gap: 20px;
}

.tablePagin {
    width: 950px;
    display: flex;
    gap: 520px;
    align-items: center;
    height: 37px;
    margin: 60px 12px;
    /* border: 2px solid red; */
    /* padding: 0px 16.01px 0.5px 0px; */
    
}

.p3 {
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400px;
    line-height: 24px;
    width: 200px;
    height: 24px;
    /* border: 2px solid red; */
}

.Btn {
    width: 200px;
    height: 36.5px;
    display: flex;
    /* border: 2px solid red; */
}

.Btn1 {
    width: 83.72px;
    height: 36.5px;
    padding: 5.75px 21.72px 6.75px 13px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #f5f5f5;
    background: rgb(248, 248, 248);
}

.Btn2 {
    width: 34.44px;
    height: 36.5px;
    padding: 5.75px 0px 6.75px 0px;
    border: 1px solid rgba(255, 133, 0, 1);
    background: rgb(22, 25, 248);
    color: white;
}

.Btn3 {
    width: 34.44px;
    height: 36.5px;
    padding: 5.75px 0px 6.75px 0px;
    border: 1px solid rgba(255, 133, 0, 1);
    color: gray;
}

.Btn4 {
    width: 56.99px;
    height: 36.5px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #f5f5f5;
    background: rgb(248, 248, 248);
}

.Btn1, .Btn2, .Btn3, .Btn4 {
    cursor: pointer;
}